<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/index.js"></script>

    <title>누구 뽑지?</title>
    <script >
        $(document).ready(function () {
        });
    </script>

</head>
<body>
    <div class="index_header">
        <label>누구 뽑지?</label>
        <button type="button" class="btn btn-success">로그인</button>
    </div>
    <div class="index_Serach">
        <select></select>
        <input type="text" onkeypress="enter_event(event)" id="input_text">
        <button type="button" class="btn btn-secondary" onclick="search_cilck()">검색</button>
    </div>
    <div id="card">
        <div class="row row-cols-1 row-cols-md-5 g-4" id="card-box">
            {% for def in list %}
            <div class="card_arr" onclick="call_modal('{{ def.symbol }}','{{ def.name }}','{{ def.party }}')">
                <div class="card_body">
                    <div class="card_element">
                        <div class="card_img">
                            <img id="card_image" src="{{ def.image }}">
                        </div>
                        <div class="card_desc">
                            <label class="c_symbol" id="card_symbol">{{def.symbol}}</label>
                            <label class="c_name" id="card_name">{{ def.name }}</label>
                            <label class="c_party" id="card_party">{{def.party}}</label>
                         </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog modal-lg">
        <div class="modal-content" onclick="close_modal()">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-titles">기호 1번 *** 공약내용</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="moad-desc"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">관련 뉴스보러가기</button>
          </div>
        </div>
      </div>
    </div>
</body>
<script>
    function search_cilck()
        {
            const keyword =$('#input_text').val()
            keyword_fillter(keyword);

        }
    function enter_event(keyin)
    {
        let keyword = document.getElementById("input_text").value;
        //엔터키를 눌렀는지 확인.
        if(keyin.keyCode == 13)
        {
            keyword_fillter(keyword);
        }
    }
    function call_modal(can_symbol,can_name,can_party)
    {
        console.log(can_name)
        $('.modal').fadeIn();
        $('.modal-title').text(can_symbol+ " " + can_party + " " +can_name + "대선공약정보");
        $('.moad-desc').text();
    }
    function close_modal()
    {
        $('.modal').fadeOut();
    }
</script>
</html>