<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="/static/css/post.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>후보별페이지</title>


    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <title>뉴스</title>



    <script>
        $(document).ready(function () {
            like_chk();
        });

        function like_chk()
        {
            //유저 ID 정보 확인
            let username;
            if(localStorage.getItem('username'))
                 username = localStorage.getItem('username');
            username = '개구리';
            let symbol = '{{ list[0].symbol }}';
            symbol = symbol.replace(/[^0-9]/g, '');

            $.ajax({
                type: "POST",
                url: "/posts/like/personal",
                data: {
                    username_give: username,
                    can_num_give : symbol
                },
                success: function (response) {
                    const msg = response['result']
                    if(msg == 'success')
                        console.log('좋아요');
                    else
                        console.log('좋아요 취소');
                }
            })
        }
            function give_like(username) {
                if (username == undefined){
                alert('좋아요는 로그인 후 가능합니다!')}

                let $a_like = $(`#${cannum} a[aria-label='heart']`)
                let $i_like = $a_like.find("i")
                if ($i_like.hasClass("fa-light")) {
                    $.ajax({
                        type: "POST",
                        url: `give_like?username_give=${username}`,
                        data: {
                            cannum_give: cannum,
                            username_give: username,
                            like_give: "like"
                        },
                        success: function (response) {
                            console.log("like")
                            $i_like.addClass("fa-regular").removeClass("fa-light")
                            $a_like.find("span.like-num").text(response["count"])
                        }
                    })
                } else {
                    $.ajax({
                        type: "POST",
                        url: `give_like?username_give=${username}`,
                        data: {
                            cannum_give: cannum,
                            username_give: username,
                            like_give: "like"
                        },
                        success: function (response) {
                            console.log("unlike")
                            $i_like.addClass("fa-light").removeClass("fa-regular")
                            $a_like.find("span.like-num").text(response["count"])
                        }
                    })

                }}
            function reload_can(name)
            {
                let page_reload = '/posts/'+name;
                console.log(page_reload);
                window.location.href= page_reload;

            }

            function locaction_move(url,can_nm){
                console.log(url + can_nm);
                $('#newsview').attr('src',url+can_nm);

            }

            function move_page(page_address)
            {
                total_ads = page_address + "/"
                location.replace(total_ads);
            }

    </script>

</head>
<body>
<section class="hero is-info is-small">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" onclick="move_page('')">
              Home
            </a>
            <a class="navbar-item">
              회원가입
            </a>
            <span class="navbar-item">
              <a class="button is-info is-inverted">
                <span><strong>로그인</strong></span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        후보자 상세페이지
      </p>
      <p class="subtitle">
        후보자 관련 뉴스 소개
      </p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
            {% for who in go_list %}
            <li>
                <a onclick="reload_can('{{ who.name }}')">{{who.symbol}}</a>
            </li>
            {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</section>
<div class="container is-fullhd" style="height: 78vh">
       <div class="bodys">
            <div class="bodys-1">
                <article class="panel is-info">
                  <p class="panel-heading">뉴스 링크</p>
                </article>
                <div style="width: 100%; height: 88%">
                      <iframe id="newsview" name="newsview" width=99% height="100%" margin=auto src="https://news.kbs.co.kr/special/election2022/president/vote_counting.html"></iframe>
                </div>
            </div>
            <div class="bodys-2">
                    <div class="bodys-2_child1" style="display: flex">
                        <img style="height: 100%; object-fit: cover " src="{{ list[0].image }}">
                        <div style="display: flex; flex-direction: column; height: 100%">
                          <div class="level-item has-text-centered" style="height: 20%">
                            <div>
                              <p class="heading">순서</p>
                              <p class="title is-5">{{ list[0].symbol }}</p>
                            </div>
                          </div>
                          <div class="level-item has-text-centered" style="height: 20%">
                                <div>
                                  <p class="heading">후보자</p>
                                  <p class="title is-5">{{ list[0].name }}</p>
                                </div>
                          </div>
                          <div class="level-item has-text-centered" style="height: 20%">
                                <div>
                                  <p class="heading">소속</p>
                                  <p class="title is-5">{{ list[0].party }}</p>
                                </div>
                          </div>
                          <div class="level-item has-text-centered" style="height: 20%">
                                <div>
                                  <p class="heading">Likes</p>
                                  <p class="title is-5">100</p>
                                </div>
                          </div>
                          <button class="button is-info is-large is-fullwidth" style="margin-left: 3px; height: 18% ">좋아요</button>
                        </div>
                    </div>
                    <div class="bodys-2_child2">
                        <article class="panel is-info">
                          <p class="panel-heading">
                            언론사 리스트
                          </p>
                          <a class="panel-block">
                             <span class="panel-icon">
                              <i class="fas fa-book" aria-hidden="true"></i>
                            </span>
                            <p onclick="locaction_move('https://www.joongang.co.kr/search?keyword=','{{ word }}')">중앙 일보</p>
                          </a>
                          <a class="panel-block">
                            <span class="panel-icon">
                              <i class="fas fa-book" aria-hidden="true" ></i>
                            </span>
                            <p onclick="locaction_move('https://www.donga.com/news/search?query=','{{ word }}')">동아 일보</p>
                          </a>
                          <a class="panel-block">
                            <span class="panel-icon">
                              <i class="fas fa-book" aria-hidden="true"></i>
                            </span>
                            <p onclick="locaction_move('https://search.khan.co.kr/search.html?sect=1&path=1&q=','{{ word }}')">경향 신문</p>
                          </a>
                          <a class="panel-block">
                            <span class="panel-icon">
                              <i class="fas fa-book" aria-hidden="true"></i>
                            </span>
                            <p onclick="locaction_move('https://imnews.imbc.com/more/search/?search_kwd=','{{ word }}')">MBC NEWS</p>
                          </a>
                         <a class="panel-block">
                            <span class="panel-icon">
                              <i class="fas fa-book" aria-hidden="true"></i>
                            </span>
                            <p onclick="locaction_move('https://jtbc.joins.com/search?term=','{{ word }}')">JTBC</p>
                          </a>
                        </article>
                    </div>
                </div>
            </div>
       </div>
   </div>

</div>
<div class="mybox">
    <div class="mycomment">
        <input id="comment" class="form-control" type="text" placeholder="댓글 작성">
        <button onclick="save_comment()" type="button" class="btn btn-outline-primary">작성</button>
    </div>
</div>
<div class="mybox" id="comment-list">
</div>
</body>
</html>

